.agreementpage {

  position: relative;
  width: 90%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 10rem 0;

  h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    color: #333333;
    padding-top: 5rem;
  }

  h5 {
    font-size: 16px;
    font-family: DINpro;
    font-weight: 300;
    padding-bottom: 2rem;
    color: #333333;
  }

  p {
    font-size: 20px;
    font-family: DINpro;
    font-weight: 400;
    line-height: 40px;
    color: #333333;
    padding: 1rem 0;
  }

  h3 {
    font-size: 60px;
    font-weight: 400; 
    line-height: 80px;
    padding-top: 10rem;
  }

  h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #333;
    a {
      color: #1E4AFF;
    }
  }

  .page {
    padding-top: 5rem;
    text-align: right;

    li {
      margin: 1rem;
      padding: 0.5rem 0.8rem;
      background: #FFFFFF;
      border: 1px solid #D7D7D7;
      border-radius: 4px;
      cursor: pointer;

      &.active {
        background: #1E4AFF;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 600px) { 
  .agreementpage{

    .page {
      display: none;
    }

  }

}