
header {
  position: absolute;
  z-index: 999;
  background-color: transparent;
  height: $header;
  width: 100%;
  padding: 33px 0;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 1680px;
    height: 6px;
    background-color: #122981;
  }

  .header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
  }

  .logo {
    position: relative;
    height: auto;
    width: 188px;
    // margin-left: 103px;
    object-fit: contain;
  }

  nav {
    flex: 1;
    text-align: right;
    // margin: 0 5rem;
    font-size: 25px;
    font-family: DINbold;
    font-weight: 400;
    line-height: 31px;
    color: #000000;
    display: flex;
    justify-content: flex-end;

    ul {
      // max-width: 1050px;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      &>div {
        margin: 0 2rem;
      }
    }

    li {
      position: relative;
      &.active {
        a {
          color: #FABE00;
        }
      }
      a {
        padding: 0 2.5rem;
      }

      .language, .other-language {
        padding: 0 2.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        word-break: keep-all;
  
        .flag {
          height: auto;
          width: 30px;
          object-fit: contain;
        }
  
        span {
          padding: 0 1rem;
        }
      }
  
      .other-language {
        position: absolute;
        top: 50px;
        left: 0;
        display: none;

        &.show {
          display: flex;
        }
      }
    }

    

    .search {
      min-width: 108px;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      opacity: 1;
      border-radius: 16px;
      display: flex;
      align-items: center;
      padding-right: 0.2rem;

      svg {
        margin: 0 0.3rem;
      }

      input {
        flex: 1;
        border: none;
        outline: none;
        appearance: none;
      }
    }
  }

  .mini {
    display: none;
  }

}

@media screen and (max-width: 600px) {
  header {
    position: fixed;
    height: 68px;
    width: 100vw;
    background: #fff;
    display: flex;
    z-index: 999;

    &::before, &::after {
      height: 6px;
    }

    .logo {
      width: 65.5px;
      margin: 0 24px;    
    }

    .mini {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      padding: 0 24px;
      font-family: futura;

      img {
        margin-left: 24px;
        object-fit: contain;
        height: 21px;
      }

      ul {
        position: absolute;
        top: 68px;
        left:0;
        z-index: 998;
        width: 100%;
        background: #fff;
        padding: 17px 0;
        display: none;

        &.show {
          display: block;
        }

        li {
          display: block;
          text-align: center;
         

          a {
            display: block;
            width: 100%;
            padding: 17px;
          }

          &.active {
            a {
              color: #1E4AFF;
            }
          }

          .language, .other-language {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 17px;

            &>* {
              margin: 0 5px;
            }
          }

          .other-language {
            padding: 17px 0;
            display: none;

            &.show {
              display: block;
            }
          }
        }
      }

    }
  
    nav {
      display: none;
    }
  }
}