.insightpage {
  padding: $header 0;

  .arrows {
    padding-top: 5rem;
    text-align: center;

    svg {
      margin: 0 2rem;
      cursor: pointer;
      user-select: none;
    }
  }

  .sec-1 {
    position: relative;
    user-select: none;
    margin: 0 auto;
    max-width: 1680px;

    img {
      width: 100%;
    }

    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 324px;

      li {
        display: block;
        font-size: 60px;
        font-weight: bold;
        line-height: 80px;
        color: #fff;
        padding: 2rem 0;
        cursor: pointer;

        &.active {
          color: #1E4AFF;
        }
      }
    }
  }

  .sec-2 {

    .title {
      position: relative;
      font-size: 100px;
      font-weight: bold;
      line-height: 133px;
      color: #333333;
      width: 90%;
      max-width: 1660px;
      margin: 0 auto;
      padding-top: 5rem;
    }

    ul {
      display: block;
      width: 90%;
      max-width: 1660px;
      margin: 8rem auto 0 auto;
      border-top: 1px solid #707070;

      li {
        display: block;
        padding: 2rem 0;
        border-bottom: 1px solid #707070;

        h4 {
          font-size: 30px;
          font-family: DINpro;
          font-weight: 400;
          line-height: 40px;
          color: #B7B7B7;
          padding: 1rem 0;
        }

        h1 {
          font-size: 60px;
          font-weight: 400;
          line-height: 80px;
          color: #333333;
        }
      }
    }

    
  }


  .sec-3 {    
    padding-top: 10rem;

    .title {
      position: relative;
      text-align: right;
      font-size: 100px;
      font-weight: bold;
      line-height: 133px;
      color: #333333;
      width: 90%;
      max-width: 1660px;
      margin: 0 auto;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      width: 90%;
      max-width: 1660px;
      margin: 5rem auto;
      gap: 5rem;

      li {

        img {
          width: 100%;
          height: 434px;
          border: 1px solid #707070;
          object-fit: cover;
        }

        h2 {
          -webkit-line-clamp: 2; // 用来限制在一个块元素显示的文本的行数
          display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
          -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
          text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
          word-break: break-all;
          overflow: hidden;
          font-size: 40px;
          font-weight: bold;
          line-height: 60px;
          color: #333333;
        }

        div {
          position: relative;
          display: flex;
          align-items: center;
          padding-top: 1rem;
          margin-top: 1rem;
          border-top: 1px solid #707070;
          font-size: 40px;
          font-family: DINpro;
          font-weight: 400;
          line-height: 53px;
          color: #B7B7B7;

          h5 {
            font-weight: 400;
          }

          span {
            flex: 1;
            text-align: right;
          }
        }
      }
    }

  }

  .sec-4 {
    padding-top: 20rem;

    .title {
      // padding-bottom: 10rem;
      font-size: 100px;
      font-weight: bold;
      line-height: 133px;
      color: #333333;
      width: 90%;
      max-width: 1660px;
      margin: 0 auto;
    }

    ul {
      position: relative;
      max-width: 1653px;
      width: 100%;
      margin: 0 auto;

      li {
        width: 100%;
        height: 442px;
        background: #F8F8F8;
        margin: 40px 0;
        display: flex;

        img {
          width: 915px;
          height: 100%;
          object-fit: cover;
        }

        div {
          flex: 1;
          padding: 3rem;
          display: flex;
          flex-direction: column;

          h1 {
            text-align: right;
            font-size: 100px;
            font-family: DINpro;
            font-weight: 400;
            line-height: 60px;
            color: #333333;
          }

          h3 {
            flex: 1;
            text-align: right;
            font-size: 40px;
            font-family: DINpro;
            font-weight: 400;
            line-height: 60px;
            color: #B7B7B7;
            padding-top: 1rem;
          }

          p {
            font-size: 40px;
            font-weight: bold;
            line-height: 60px;
            color: #333333;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 1640px) { 

  .insightpage .sec-4 ul  {
    width: 100%;

    li div p {
      font-size: 30px;
    }
  }

}


@media screen and (max-width: 1440px) { 
  .insightpage .sec-3 ul li {
    width: 100%;
  }

  .insightpage .sec-4 ul  {
    width: 100%;

    li img {
      width: 50%;
    }
  }


}

@media screen and (max-width: 1090px) { 
  .insightpage .sec-1 ul li {
    padding: 0.5rem 0;

    a {
      font-size: 40px;
      line-height: 40px;
    }

    
  }

  .insightpage .sec-4 ul li div p {
    font-size: 20px;
  }

}

@media screen and (max-width: 600px) {

  .insightpage {
    padding: 1rem;

    .arrows {
      display: none;
    }

    .sec-1 {
      display: none;
    }

    .sec-2 {
      padding: 1rem 0 2rem 0;

      .title {
        position: relative;
        font-size: 28px;
        font-family: Futura;
        font-weight: bold;
        line-height: 37px;
        color: #333333;
        width: 100%;
        max-width: initial;
        padding-top: 5rem;
      }
  
      ul {
        display: block;
        width: 100%;
        margin: 0;
        border-top: none;
  
        li {
          position: relative;
          display: block;
          padding: 2rem 0;
          border-bottom: 1px solid rgba(#707070, 0.12);
  
          h4 {
            font-size: 14px;
            font-family: Heiti SC;
            font-weight: 300;
            line-height: 17px;
            color: #B7B7B7;
            padding: 0;
            padding-bottom: 1rem;
          }

          .by {
            position: absolute;
            width: 100%;
            text-align: right;
            top: 2rem;
          }
  
          h1 {
            font-size: 20px;
            font-family: Cardiff;
            font-weight: 400;
            line-height: 24px;
            color: #333333;
          }
        }
      }
  
      
    }

    .sec-3 {    
      padding: 1rem 0 2rem 0;
  
      .title {
        position: relative;
        text-align: right;
        font-size: 28px;
        font-family: Futura;
        font-weight: bold;
        line-height: 37px;
        color: #333333;
        width: 100%;
        max-width: initial;
      }
  
      ul {
        display: block;
        width: 100%;
        max-width: initial;
        margin: 0;
        padding: 1rem 0;

        a:nth-child(4) {
          display: none;
        }
  
        li {
          display: grid;
          grid-template-areas: 'b a'
                               'c a';
          padding: 17px 0;
          border-bottom: 1px solid rgba(#707070, 0.12);
  
          img {
            grid-area: a;
            width: 130px;
            height: 99px;
            border: none;
            object-fit: cover;
            border-radius: 6px;
            margin-left: 19px;
          }
  
          h2 {
            grid-area: b;
            -webkit-line-clamp: 3; // 用来限制在一个块元素显示的文本的行数
            display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
            -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
            text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
            word-break: break-all;
            overflow: hidden;
            font-size: 18px;
            font-family: Cardiff;
            font-weight: 400;
            line-height: 24px;
            color: #333333;
            height: 70px;
          }
  
          div {
            grid-area: c;
            padding-top: 0;
            margin-top: 0;
            border-top: none;
            font-size: 14px;
            font-family: Heiti SC;
            font-weight: 300;
            line-height: 17px;
            color: #B7B7B7;
  
            h5 {
              font-size: 14px;
              font-weight: inherit;
            }
  
            span {
              flex: 1;
              text-align: right;
            }
          }
        }
      }
  
    }

    .sec-4 {
      padding: 1rem 0 2rem 0;
  
      .title {
        position: relative;
        font-size: 28px;
        font-family: Futura;
        font-weight: bold;
        line-height: 37px;
        color: #333333;
        width: 100%;
        max-width: initial;
      }
  
      ul {
        position: relative;
        width: 100%;
        margin: 0 auto;
  
        li {
          width: 100%;
          height: auto;
          background: none;
          margin: 0;
          padding: 1rem 0;
          display: grid;
          grid-template-areas: 'l r';
          justify-content: space-between;
          border-bottom: 1px solid rgba(#707070, 0.12);
  
          img {
            grid-area: r;
            width: 130px;
            max-width: 130px;
            height: 98px;
            border-radius: 6px;
            object-fit: cover;
            margin-left: 19px;
          }
  
          .phone {
            grid-area: l;
            padding: 0;
            display: grid;
            grid-template-areas: 'c c'
                                 'a b';
            align-items: flex-end;
  
            h1 {
              grid-area: a;
              text-align: left;
              font-size: 24px;
              font-family: Heiti SC;
              font-weight: 300;
              line-height: initial;
              color: #333333;
              padding-top: 5px;
            }
  
            h3 {
              grid-area: b;
              text-align: right;
              font-size: 14px;
              font-family: Heiti SC;
              font-weight: 300;
              line-height: 17px;
              color: #B7B7B7;
              padding-top: 0;
            }
  
            p {
              grid-area: c;
              -webkit-line-clamp: 3; // 用来限制在一个块元素显示的文本的行数
              display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
              -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
              text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
              word-break: break-all;
              overflow: hidden;
              font-size: 18px;
              font-family: Cardiff;
              font-weight: 400;
              line-height: 24px;
              color: #333333;
            }
  
          }
        }
      }
    }

  }
}