.portfoliopage {

  .limit {
    width: 100%;
    max-width: 1619px;
    margin: 0 auto;
  }

  .small {
    width: 100%;
    max-width: 1456px;
    margin: 0 auto;
  }
  
  .sec-1 {
    position: relative;
    background-image: url('../assets/images/portfolio/cartography-3244166_1280.png');
    width: 100%;
    height: 1080px;
    background-position: center;
    background-size: cover;

    
    
    &>div {
      padding-top: 295px;
    }

    h1 {
      padding: 0 107px 34px 107px;
      font-size: 100px;
      font-family: Futura;
      font-weight: bold;
      line-height: 133px;
      color: #FABE00;
      text-transform: uppercase;
    }

    .para {
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
      padding: 10px 103px;

      p {
        font-size: 30px;
        font-weight: 400;
        line-height: 60px;
        color: #333333;
        padding: 20px 0;
      }
    }

  }

  .sec-2 {
    position: relative;
    padding: 10rem 0;

    &:after {
      content: '';
      position: absolute;
      width: 445px;
      height: 4px;
      background: #FABE00;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  
    h1 {
      font-size: 100px;
      font-family: Futura;
      font-weight: bold;
      line-height: 133px;
      color: #333333;
    }

    p {
      padding: 1rem 0;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      color: #333333;
    }

    .mid {
      width: 100%;
      height: 421px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
    }

    .logos {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 327px;
        object-fit: contain;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 35px;
      padding: 35px 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 286px;
        height: 115px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);

        img {
          object-fit: contain;
          height: 100%;
          max-width: 226px;
          width: 100%;
        }
      }
    }
  }

  .sec-3 {
    position: relative;
    padding: 10rem 0;

    &:after {
      content: '';
      position: absolute;
      width: 445px;
      height: 4px;
      background: #FABE00;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    h1 {
      font-size: 100px;
      font-family: Futura;
      font-weight: bold;
      line-height: 133px;
      color: #333333;
    }

    p {
      padding: 1rem 0;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      color: #333333;
    }

    .mid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 421px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);

      .logos {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        img {
          width: 327px;
          max-height: 106px;
          object-fit: contain;
        }
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 35px;
      padding: 35px 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 286px;
        height: 115px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);

        img {
          object-fit: contain;
          height: 100%;
          max-width: 226px;
          width: 100%;  
          max-height: 100px;
        }
      }
    }
  }

  .sec-4 {
    position: relative;
    padding: 10rem 0;

    h1 {
      font-size: 100px;
      font-family: Futura;
      font-weight: bold;
      line-height: 133px;
      color: #333333;
    }

    p {
      padding: 1rem 0;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      color: #333333;
    }

    .mid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 421px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);

      .logos {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        img {
          width: 327px;
          max-height: 106px;
          object-fit: contain;
        }
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 35px;
      padding: 35px 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 286px;
        height: 115px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);

        img {
          object-fit: contain;
          height: 100%;
          max-width: 226px;
          width: 100%;  
          max-height: 100px;
        }
      }
    }
  }
}


@media screen and (max-width: 600px) { 
  .portfoliopage {
    .sec-1 {
      min-height: 375px;
      height: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;

      &>div {
        padding-top: 0;

        &:nth-child(1) {
          padding-top: 81px;
        }
      }

      h1 {
        padding: 0 1rem;
        font-size: 28px;
        font-family: Futura;
        font-weight: bold;
        line-height: 37px;
      }

      .para {
        box-shadow: none;
        padding: 0;
        background: none;

        p {
          padding: 1rem;
          font-size: 16px;
          font-family: Heiti SC;
          font-weight: 300;
          line-height: 28px;
        }
      }
    }

    .sec-2, .sec-3, .sec-4 {
      padding: 70px 1rem;

      &:after {
        width: 127px;
        height: 1px;
      }

      h1 {
        font-size: 28px;
        font-family: Futura;
        font-weight: bold;
        line-height: 37px;
      }

      p {
        font-size: 16px;
        font-family: Heiti SC;
        font-weight: 300;
        line-height: 28px;
      }

      .mid {
        height: auto;
        box-shadow: none;
        padding: 1rem 0;

        .logos {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding: 0;
  
          a {
            padding: 1rem;
          }
  
          img {
            height:auto;
            width: 100%;
          }
        }
      }

      

      .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        padding: 0;

        li {
          width: 100%;
          height: 57px;

          a {
            text-align: center;
          }

          img {
            width: 90%;
            max-width: 100px; 
            max-height: 45px;
          }
        }

      }
    }

  }
}