.presspage {
  padding: 200px 0;
  width: 1660px;
  margin: 0 auto;

  .sec-1 {

    h1 {
      font-size: 60px;
      font-weight: 400;
      line-height: 80px;
      color: #333333;
    }

    .subtitle {
      display: flex;
      align-items: center;

      h5 {
        flex: 1;
        font-size: 16px;
        font-weight: 300;
        line-height: 80px;
        color: #333333;
      }

      ul {
        li {
          display: inline-block;
          margin: 0 10px;
          img {
            height: 27px;
            width: auto;
            object-fit: contain;
          }

        }
      }

    }
    p {
      margin: 2rem 0  ;
      font-size: 20px;
      font-family: DINpro;
      font-weight: 400;
      line-height: 40px;
      color: #333333;
    }

    .pic {
      display: flex;
      height: 487px;

      img {
        object-fit: cover;
      }


      img:nth-child(1) {
        width: 1201px;
        margin-right: 2rem;
      }
      img:nth-child(2) {
        width: 425px
      }
    }
  }


  .sec-3 {    
    padding-top: 10rem;

    .title {
      position: relative;
      text-align: right;
      

      div {
        display: inline-block;
        width: 246px;
        height: 193px;
        background: #1E4AFF;
        
        &:before {
          content: 'PRESS';
          position: absolute;
          display: inline-block;
          font-size: 100px;
          font-weight: bold;
          line-height: 133px;
          color: #333333;
          bottom: 0;
          right: 326px;
        }
      }

    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      width: 90%;
      max-width: 1660px;
      margin: 5rem auto;
      gap: 5rem;

      li {

        img {
          width: 100%;
          height: 434px;
          border: 1px solid #707070;
          object-fit: cover;
        }

        h2 {
          -webkit-line-clamp: 2; // 用来限制在一个块元素显示的文本的行数
          display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
          -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
          text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
          word-break: break-all;
          overflow: hidden;
          font-size: 40px;
          font-weight: bold;
          line-height: 60px;
          color: #333333;
        }

        div {
          position: relative;
          display: flex;
          align-items: center;
          padding-top: 1rem;
          margin-top: 1rem;
          border-top: 1px solid #707070;
          font-size: 40px;
          font-family: DINpro;
          font-weight: 400;
          line-height: 53px;
          color: #B7B7B7;

          h5 {
            font-weight: 400;
          }

          span {
            flex: 1;
            text-align: right;
          }
        }
      }
    }

  }

  .arrows {
    padding-top: 5rem;
    text-align: center;

    img {
      margin: 0 2rem;
      cursor: pointer;
      user-select: none;
    }
  }


}


@media screen and (max-width: 600px) {
  .presspage {
    width: 100%;
    padding: 100px 1rem 1rem 1rem;
    
    .sec-1 {

      h1 {
        font-size: 23px;
          font-family: Futura;
          font-weight: bold;
          line-height: 31px;  
      }

      .subtitle {
        display: block;

        h5 {
          font-size: 14px;
          font-family: Heiti SC;
          font-weight: 300;
          line-height: 17px;
          color: #B7B7B7;
          padding: 30px 0;
        }

        ul {
          li {
            display: inline-block;
            margin: 0 20px 0 0;
            img {
              height: 17px;
              width: auto;
              object-fit: contain;
            }
          }
        }

      }
      p {
        margin: 2rem 0  ;
        font-size: 16px;
        font-family: Heiti SC;
        font-weight: 300;
        line-height: 28px;
        color: #333333;
      }

      .pic {
        display: block;
        height: auto;

        img {
          object-fit: cover;
        }

        img:nth-child(1) {
          width: 100%;
          margin-right: 2rem;
        }
        img:nth-child(2) {
          width: 100%;
        }
      }
    }

    .sec-3 {    
      padding-top: 2rem;
  
      .title {
        position: relative;
        text-align: left;
        font-size: 28px;
        font-family: Futura;
        font-weight: bold;
        line-height: 37px;
      }
  
      ul {
        display: block;
      
        width: 100%;
        max-width: initial;
        margin: 0;
        gap: 5rem;

        a:nth-child(4) {
          display: none;
        }
  
        li {
          display: grid;
          grid-template-areas: 'b a'
                               'c a';
          padding: 17px 0;
          border-bottom: 1px solid rgba(#707070, 0.12);
          
          img {
            grid-area: a;
            width: 130px;
            height: 99px;
            border: none;
            object-fit: cover;
            border-radius: 6px;
            margin-left: 19px;
          }
  
          h2 {
            grid-area: b;
            -webkit-line-clamp: 3; // 用来限制在一个块元素显示的文本的行数
            display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
            -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
            text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
            word-break: break-all;
            overflow: hidden;
            font-size: 18px;
            font-family: Cardiff;
            font-weight: 400;
            line-height: 24px;
            color: #333333;
            height: 70px;
          }
  
          div {
            grid-area: c;
            padding-top: 0;
            margin-top: 0;
            border-top: none;
            font-size: 14px;
            font-family: Heiti SC;
            font-weight: 300;
            line-height: 17px;
            color: #B7B7B7;
  
            h5 {
              font-size: 14px;
              font-weight: inherit;
            }
  
            span {
              flex: 1;
              text-align: right;
            }
          }
        }
      }
  
    }
  
    .arrows {
      display: none;
    }

  }
}