/*
 
CONSTs

*/

$header: 177px;



/*
 
FONTs

*/


@font-face {
  font-family: DINlight;
  src: url(../fonts/DINPro-Light_13935.ttf);
}

@font-face {
  font-family: DINbold;
  src: url(../fonts/DINPro-Bold_13934.ttf);
}
@font-face {
  font-family: DINpro;
  src: url(../fonts/DINPro-Medium_13936.ttf);
}
@font-face {
  font-family: futura;
  src: url(../fonts/Futura.ttc);
}
@font-face {
  font-family: futura_B;
  src: url(../fonts/futur_b.ttf);
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Hei, Microsoft YaHei, 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  // margin: 0 auto;
}

@media screen and (max-width: 600px) {
  body {
    width: auto;
    overflow-x: hidden;
  }
}



a {
  text-decoration: none;
  color: inherit; 
}

ul, li {
  list-style: none;
}

li {
  display: inline-block;
}

/*
 
Common Classes

*/

.constained {
  position: relative;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.loading {
  padding: $header*2 0 $header 0;
  text-align: center;
  
}

.none {
  display: none;
}

.notfound {
  padding: 30vh 0;
  text-align: center;
}


/*
 
Components

*/

@import './header';
@import './footer';

/*
 
Pages

*/

@import './home';
@import './about';
@import './insight';
@import './portfolio';
@import './agreement';
@import './blog';
@import './press';
@import './club';
@import './insights';
