* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul, li {
  list-style: none;
}

li {
  display: inline-block;
}

@font-face {
  font-family: DINlight;
  src: url(../fonts/DINPro-Light_13935.ttf);
}

@font-face {
  font-family: DINbold;
  src: url(../fonts/DINPro-Bold_13934.ttf);
}
@font-face {
  font-family: DINpro;
  src: url(../fonts/DINPro-Medium_13936.ttf);
}

@import './header';
@import './footer';

@import './home';

